node_modules

# Ignore all image files
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.tiff
**/*.ico
**/*.svg

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
